<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron" align="center">
    <div class="container">
        <h1>Analytics</h1>

    </div>
</div>
<div align="center">
    <a href="/usersQuery">Users</a><br>
    <a href="/hotspotPickUp">Hotspots based on Pickup Location</a><br>
    <a href="/hotspotDropOff">Hotspots based on Drop Off Location</a>
</div>

</body>
</html>